<div *ngIf="model">
  <div class="modal-header">
    <h5 class="modal-title">Trade Currency</h5>
    <button type="button" class="close" (click)="onCancel()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <form #f="ngForm">

      <div class="row">

        <div class="form-group col">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Sell currency</span>
            </div>
            <select class="form-control" id="soldCurrencyInput" name="soldCurrency" (change)="onCurrencySelected()"
                    required #soldCurrency="ngModel"
                    [(ngModel)]="model.soldCurrencyCode">
              <option *ngFor="let currency of currencies">{{currency.currencyCode}}</option>
            </select>
            <div class="input-group-append">
            </div>
          </div>
          <div *ngIf="(soldCurrency.dirty || soldCurrency.touched)" class="invalid-feedback d-block">
            <div *ngIf="soldCurrency.invalid && soldCurrency.errors.required"> Sold currency is required</div>
          </div>
        </div>

        <div class="form-group col">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">in amount</span>
            </div>
            <input class="form-control" type="number" min="1" step="1" id="quantityInput" name="quantity" required
                   #quantity="ngModel" pattern="[0-9]*"
                   [(ngModel)]="model.sellAmount">
            <div class="input-group-append">
            </div>
          </div>
          <div *ngIf="(quantity.dirty || quantity.touched)" class="invalid-feedback d-block">
            <div *ngIf="quantity.invalid && quantity.errors.required"> Quantity is required</div>
            <div *ngIf="quantity.invalid && quantity.errors.pattern"> Only whole numbers allowed</div>
            <div *ngIf="quantity.value <= 0"> Only numbers greater than 0 allowed</div>
            <!--          <div *ngIf="model.quantity * model.transactionBaseQuantity / currencyModel.currencyRate > availableBaseCurrency"> Not enough {{baseCurrency}} </div>-->
          </div>
        </div>

      </div>

      <div class="row">

        <div class="form-group col">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Buy currency</span>
            </div>
            <select class="form-control" id="boughtCurrencyInput" name="boughtCurrency" (change)="onCurrencySelected()"
                    required #boughtCurrency="ngModel"
                    [(ngModel)]="model.boughtCurrencyCode">
              <option *ngFor="let currency of currencies">{{currency.currencyCode}}</option>
            </select>
            <div class="input-group-append">
            </div>
          </div>
          <div *ngIf="(boughtCurrency.dirty || boughtCurrency.touched)" class="invalid-feedback d-block">
            <div *ngIf="boughtCurrency.invalid && boughtCurrency.errors.required"> Bought currency is required</div>
            <div *ngIf="soldCurrency.value == boughtCurrency.value"> Sold currency and bought currency must be different
            </div>
          </div>
        </div>

        <div class="col">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">in amount</span>
            </div>
            <input class="form-control" type="text" readonly id="calculatedCost"
                   [value]="(model.sellAmount * rate |  number:'1.4-4')">
            <div class="input-group-append">
            </div>
          </div>
        </div>

      </div>


      <p *ngIf="failed" class="text-danger">{{failedMessage}}</p>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button class="btn btn-primary" ngbAutofocus (click)="onSubmit()"
            [disabled]="!f.valid || quantity.value <= 0 || soldCurrency.value == boughtCurrency.value">Confirm
    </button>
  </div>
</div>
