<div class="center-content" style="margin-bottom: 15px; margin-top: 35px;">
  <h1>Currency Rates Graph</h1>
</div>
<div class="center-content" style="display: flex; flex-wrap: wrap">
  <div class="card">
    <div class="card-body">
      <form #f="ngForm" class="form-inline my-3">
        <div class="input-group mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Base Currency</div>
          </div>
          <select class="form-control" id="baseCurrencyInput" name="baseCurrency" (change)="onBaseCurrencySelected()"
                  required #baseCurrency="ngModel"
                  [(ngModel)]="selectedParams.baseCurrency">
            <option value="" disabled selected>---</option>
            <option *ngFor="let currency of currencies">{{currency.currencyCode}}</option>
          </select>
        </div>
        <div class="input-group mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> Target Currency</div>
          </div>
          <select class="form-control" id="targetCurrencyInput" name="targetCurrency"
                  (change)="onTargetCurrencySelected()" required #targetCurrency="ngModel"
                  [(ngModel)]="selectedParams.targetCurrency">
            <option value="" disabled selected>---</option>
            <option *ngFor="let currency of currencies">{{currency.currencyCode}}</option>
          </select>
        </div>
        <div class="input-group mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">From</div>
          </div>
          <input id="fromInput" name="from" #from="ngModel" type="datetime-local" (change)="onFromSelected()"
                 class="form-control" [(ngModel)]="selectedParams.from"
                 required>
        </div>
        <div class="input-group mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">To</div>
          </div>
          <input id="toInput" name="to" #to="ngModel" type="datetime-local" (change)="onToSelected()"
                 class="form-control" [(ngModel)]="selectedParams.to"
                 required>
        </div>
        <div class="input-group mr-sm-2">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                  [disabled]="!f.valid || baseCurrency.value == targetCurrency.value || from.value >= to.value">Display
          </button>
        </div>
      </form>
      <div>
        <div style="margin-top: 15px; min-height: 500px; min-width: 200px;" *ngIf="graphData.length > 0 && series.series.length > 0">
          <ngx-charts-line-chart *ngIf="graphData.length > 0"
                                 [results]="graphData"
                                 [autoScale]="true"
                                 [timeline]="false"
                                 [xAxis]="true"
                                 [xAxisLabel]="'Date'"
                                 [showXAxisLabel]="true"
                                 [yAxis]="true"
                                 [yAxisLabel]="'Currency Rate'"
                                 [showYAxisLabel]="true"
                                 [legend]="true"
          ></ngx-charts-line-chart>
        </div>
        <div *ngIf="graphData.length == 0"
             style="text-align: center; display: flex; justify-content: center; align-items: center; min-height: 500px; min-width: 200px;">
          <h5>No currencies selected.</h5>
        </div>
        <div *ngIf="graphData.length != 0 && series.series.length == 0"
             style="text-align: center; display: flex; justify-content: center; align-items: center; min-height: 500px; min-width: 200px;">
          <h5>No data available.</h5>
        </div>
      </div>
    </div>
  </div>
</div>


