/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #ff7d00
);
@import "node_modules/bootstrap/scss/bootstrap";

.center-content {
  display: flex;
  justify-content: center;
}


