<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/iconfinder_currencysvg_1579795.svg" width="30" height="30" class="d-inline-block align-top mr-2">
    WebExchange
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/graph']">Graph</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn && !isAdmin">
        <a class="nav-link text-light" [routerLink]="['/operation-history']">Operation History</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn && isAdmin">
        <a class="nav-link text-light" [routerLink]="['/admin-panel']">Admin Panel</a>
      </li>
    </ul>


    <span class="text-light mx-1" *ngIf="loggedIn">Logged in as: {{username}}</span>
    <div class="nav-item mx-1">
      <select class="form-control bg-dark text-light" id="baseCurrencyInput" name="currency"
              (change)="onCurrencySelected()"
              [(ngModel)]="baseCurrency">
        <option *ngFor="let currency of currencies">{{currency.currencyCode}}</option>
      </select>
    </div>
    <button class="btn btn-outline-light mx-1" (click)="tradeCurrency()" *ngIf="loggedIn && !isAdmin">Trade Currency
    </button>
    <button class="btn btn-outline-light mx-1" (click)="addFunds()" *ngIf="loggedIn && !isAdmin">Add Funds</button>
    <button class="btn btn-outline-light mx-1" [routerLink]="['/register']" *ngIf="!loggedIn">Register</button>
    <button class="btn btn-outline-light mx-1" [routerLink]="['/login']" *ngIf="!loggedIn">Login</button>
    <button class="btn btn-outline-light mx-1" (click)="logout()" [routerLink]="['/']" *ngIf="loggedIn">Logout</button>

  </div>
</nav>
