<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/iconfinder_currencysvg_1579795.svg" width="30" height="30" class="d-inline-block align-top mr-2">
    WebExchange
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/']">Home</a>
      </li >
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link text-light" [routerLink]="['/wallet']">Wallet</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link text-light" [routerLink]="['/operation-history']">Operation History</a>
      </li>
    </ul>

    <span class="text-light mx-2" *ngIf="loggedIn">Logged in as: {{username}}</span>
    <button class="btn btn-outline-light mx-2" [routerLink]="['/register']" *ngIf="!loggedIn">Register</button>
    <button class="btn btn-outline-light mx-2" [routerLink]="['/login']" *ngIf="!loggedIn">Login</button>
    <button class="btn btn-outline-light mx-2" (click)="logout()" [routerLink]="['/']" *ngIf="loggedIn">Logout</button>

  </div>
</nav>
